body {
  min-height: 100vh;
}

h1 {
  color: #1c78c0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.img-wrap {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  object-fit: contain;
  animation: rotating 10s linear infinite;
}

img {
  width: 100%;
  height: 100%;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
