html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	background-color: #e5e5e5;
	margin: 2em;
	font: 16px/24px sans-serif;
}


.auto {
	display: grid;
	grid-template-columns: 150px 150px 60px 120px 120px;
	width: 630px;
	padding: 10px 15px;
	margin-bottom: 5px;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.vyrobce,
.model {
	font-weight: bold;
}

.rok,
.barva {
	text-align: center;
}

.najeto {
	text-align: right;
}